@page "/clientes"
@using System.Data;
@using BarbeariaLucasAaguiar.Models
@inject ClienteDAO clienteDAO

<PageTitle>Clientes</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Data de Aniversário</th>
            <th>RG</th>
        </tr>
    </thead>
    <tbody>
        @if (listaClientes.Count > 0)
        {
            int contador = 1;
            @foreach (var cliente in listaClientes)
            {
                <tr>
                    <td>@contador</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Cpf</td>
                    <td>@cliente.DataAniversario.ToShortDateString()</td>
                    <td>@cliente.Rg</td>
                </tr>
                contador++;
            }
        }
        else
        {
            <tr><td colspan="6">Nenhum cliente cadastrado.</td></tr>
        }
    </tbody>
</table>

@code {
private List<Cliente> listaClientes = new();

    protected override void OnInitialized()
    {
        CarregarClientes();
    }

    private void CarregarClientes()
    {
        listaClientes = clienteDAO.ListarTodos();
    }
}
